<form name="form">
	<div class="panel panel-default">
		<div class="panel-heading text-center fa-2x">
			<span ng-class="{'text-danger': form.$invalid, 'text-success': form.$valid}">Contato</span>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label>Nome</label>
						<div class="input-group">
							
							<input type="text" class="form-input" name="nome" placeholder="Nome" ng-model="contato.form.nome" autofocus required>
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Email</label>
						<div class="input-group">
							
							<input type="email" class="form-input" name="email" placeholder="Email" ng-model="contato.form.email" required>
							<span class="input-group-addon"><i class="fa fa-envelope-open-o"></i></span>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label>Telefone</label>
						<div class="input-group">
							
							<input type="text" class="form-input" name="telefone" placeholder="Telefone" ng-model="contato.form.telefone" required>
							<span class="input-group-addon"><i class="fa fa-mobile-phone"></i></span>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label>Assunto</label>
						<div class="input-group">
							<input type="text" class="form-input" name="assunto" placeholder="Assunto" ng-model="contato.form.assunto" required>
							<span class="input-group-addon"><i class="fa fa-question"></i></span>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label>Mensagem</label>
				<textarea rows="10" class="form-input" name="texto" placeholder="Mensagem" ng-model="contato.form.mensagem" required></textarea>
			</div>
		</div>
		<div class="panel-footer clearfix">
			<div class="pull-right">
				<button ng-click="contato.enviar()" class="btn btn-lg btn-success fa-2x" ng-disabled="form.$invalid || contato.sending">
					<i class="fa fa-send" ng-class="{'fa-spin' : contato.sending}"></i>
				</button>
			</div>
		</div>
	</div>
</form>
